<div class="xdiv-inner">
    <h2>{{title}}</h2>
    <div class="well">{{{statement}}}</div>
    <table class="table table-bordered table-striped key-findings">
        <tbody>
	    <tr>
		<th>Process for Developing Key Messages</th>
		<td>{{process}}</td>
	    </tr>
	    <tr>
		<th>Description of Evidence Base</th>
		<td>{{evidence}}</td>
	    </tr>
	    <tr>
		<th>Major Uncertainties</th>
		<td>{{uncertainties}}</td>
	    </tr>
	    <tr>
		<th>Assessment of Confidence and Likelihood Based on Evidence</th>
		<td>{{confidence}}</td>
	    </tr>
	</tbody>
    </table>

    <h3>Likelihood</h3>

    <table class="table table-bordered likelihood">
	<tbody>
	    <tr>
		<td><strong>Very Likely</strong><br/>&ge;9 in 10</td>
		<td><strong>Likely</strong><br/>&ge;2 in 3</td>
		<td><strong>As Likely as Not</strong><br/>&le;1 in 2</td>
		<td><strong>Very Unikely</strong><br/>&le;1 in 10</td>
	    </tr>
	</tbody>
    </table>

    <h3>Confidence Level</h3>
    <div class="confidence-level-tr">
	<div class="confidence-level-td">
	    <strong>Very High</strong>
	    Strong evidence (established theory, multiple
	    sources, consistent results, well documented
	    and accepted methods, etc.), high consensus
	</div>
	<div class="confidence-level-td">
	    <strong>High</strong>
	    Moderate evidence (several sources, some
	    consistency, methods vary and/or documentation
	    limited, etc.), medium consensus
	</div>
	<div class="confidence-level-td">
	    <strong>Medium</strong>
	    Suggestive evidence (a few sources, limited
	    consistency, models incomplete, methods
	    emerging, etc.), competing schools of thought
	</div>
	<div class="confidence-level-td">
	    <strong>Low</strong>
	    Inconclusive evidence (limited sources,
	    extrapolations, inconsistent findings, poor
	    documentation and/or methods not tested,
	    etc.), disagreement or lack of opinions
	    among experts
	</div>
	<div style="clear:both;"></div>
    </div>
</div>
