	<table class="table table-striped table-condensed methods-details">
	 <tbody>
	  <tr>
	   <td width="200">Dataset</td>
	   <td>{{dataset}}</td>
	  </tr>
	  <tr>
	   <td width="150">Modified?</td>
	   <td>{{dataset_modified}}</td>
	  </tr>
	  <tr>
	   <td>Archived?</td>
	   <td>{{dataset_modified_archived}}</td>
	  </tr>
	  <tr>
	   <td>Location</td>
	   <td>{{dataset_location}}</td>
	  </tr>
	  <tr>
	   <td>Needs to be Archived</td>
	   <td>{{dataset_modified_archived}}</td>
	  </tr>
	  <tr>
	   <td>Methods Used</td>
	   <td>{{dataset_methods_used}}</td>
	  </tr>
	  <tr>
	   <td>Visualization Methods</td>
	   <td>{{dataset_how_visualized}}</td>
	  </tr>
	  <tr>
	   <td>Methods Published</td>
	   <td>{{dataset_methods_published}}</td>
	  </tr>
	  <tr>
	   <td>Authoritative Source</td>
	   <td>{{dataset_authoritative_source}}</td>
	  </tr>
	  <tr>
	   <td>Software Used</td>
	   <td>{{output-list dataset_software_used}}</td>
	  </tr>
	  <tr>
	   <td>Visualization</td>
	   <td>{{output-list dataset_visualization_software}}</td>
	  </tr>
	  <tr>
	   <td>OS Used</td>
	   <td>{{dataset_os_used}}</td>
	  </tr>
	  <tr>
	   <td>Creation Time</td>
	   <td>{{dataset_creation_time}}</td>
	  </tr>
	  <tr>
	   <td>Output File</td>
	   <td>{{dataset_output_file}}</td>
	  </tr>
	  <tr>
	   <td>Files</td>
	   <td>{{output-list dataset_files}}</td>
	  </tr>
	 </tbody>
	</table>
